footer.footer {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0 25px;
}
.cjs {
    color: #F0DB4F;
}
.creact {
    color: #61DBFB;
}
.cnode {
    color: #3C873A;
}

.cjs, .creact, .cnode {
   text-shadow: 0.5px 0.5px 0.5px rgba(0, 0, 0, 0.4);
}